
<div class="modal">
    
        <img class="modal-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />

    <div class="modal-info">
        <h2 class="modal-info-title">{{title}}</h2>
        <p class="cadr-item-vote card-text">
            Vote / Votes<span class="card-item-vote-average">{{vote_average}}</span>/<span
                class="card-item-vote-count">{{vote_count}}</span>
        </p>
        <p class="card-item-popularity card-text">
            Popularity<span class="card-item-data">{{popularity}}</span>
        </p>
        <p class="card-item-title card-text">
            Original Title<span class="card-item-title-data">{{original_title}}</span>
        </p>
        <div class="genres">
            <p class="card-item-genre card-text">
                Genre
            </p>
            <p class="genre-list">{{#each genres}}
                <span class="genre-list-data">{{this.name}}</span>
                {{/each}}
            </p>
        </div>
        <h3 class="card-about">About</h3>
        <p class="card-description">
            {{overview}}
        </p>
        <div class="list-Button">         
            <button type="button" class="storage-btn" id="js-WatchedButton">Watched</button>       
            <button type="button" class="storage-btn" id="js-QueueButton">Queue</button>  
        </div>
    </div>
</div>
