<div class="modal">
    <div class="modal-container">
        <img class="modal-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />

        <div class="modal-info">
            <h2 class="modal-info-title">{{title}}</h2>
            <p class="modal-info-vote card-text">
                Vote / Votes<span class="modal-info-vote-average">{{vote_average}}</span>/<span
                    class="modal-info-vote-count">{{vote_count}}</span>
            </p>
            <p class="modal-info-popularity card-text">
                Popularity<span class="modal-info-popularity-data">{{popularity}}</span>
            </p>
            <p class="modal-info-title-original card-text">
                Original Title<span class="modal-info-title-original-data">{{original_title}}</span>
            </p>
            <div class="modal-info-genres">
                <p class="modal-info-genres-text card-text">
                    Genre
                </p>
                <p class="modal-info-genres-text-list">{{#each genres}}
                    <span class="modal-info-genres-text-list-data">{{this}}</span>
                    {{/each}}
                </p>
            </div>
            <h3 class="modal-info-about">About</h3>
            <p class="modal-info-description">
                {{overview}}
            </p>
            <div class="modal-info-buttons-list">
                <button type="button" class="modal-info-buttons-list-item js-is-in-watched"
                    id="js-watched-button">Watched (remove)</button>
                <button type="button" class="modal-info-buttons-list-item" id="js-queue-button">Add to queue</button>
            </div>
        </div>
    </div>
</div>